body {
    overflow-x: hidden;
    background-color: #FED887;
}

/*遮罩部分*/
.mask {
    /*display: none;*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: -99;
}

.popup{
    display: none;
    /*margin-top: -244%;*/
    /*margin-top: -1416px;*/
    top: 185px;
    margin-right: 2rem;
    margin-left: 2rem;
    position: absolute;
    z-index: 9999999999;
}

.closeButton{
    position: absolute;
    width: 12%;
    margin-left: 85%;
}

.winning_description{
    margin-top: -38%;
    text-align: center;
    color: #FFFFFF;
    font-family: PingFang-SC-Semibold;
    font-size: 14px;
}

.close{
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 7%;
    position: relative;
    background: #ffffff;
    width: 62%;
    margin-left: 20%;
    height: 2rem
}

.close p{
    padding-top: 5%;
    font-family: PingFang-SC-Semibold;
}

/*375   iphone6   iphone7    iphone8    iphoneX*/
.banner {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    /*height: 601px;*/
}

.banner .turnplate img.pointer {
    position: absolute;
    width: 121px;
    height: 121px;
    margin: -254px auto;
    left: 34%;
}

.banner .turnplate canvas.item {
    width: 101%;
    margin-top: 118.5px;
}

.banner .turnplate {
    background-image: url('../image/lucky_turntable.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 539px;
}

.lucky-turntable {
    background-image: url('../image/lucky_background.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.lucky-turntable-header {
    background-color: #FFFFFF;
    color: #000000;
    background-image: none;
}

.lucky-header-title {
    font-family: PingFangSC-Semibold;
    font-size: 22px;
}

.lucky-winning-record {
    max-width: 90%;
    margin-left: 5%;
}
.lucky-winning-record-name{
    /*margin-top: -1rem;*/
    font-family: STYuanti-SC-Bold;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 24px;
}
.lucky-winning-record-date{
    font-family: STYuanti-SC-Bold;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 188px;
    margin-top: -22px;
}
.lucky-activity-rules {
    max-width: 95%;
    margin-left: 1%;
    margin-bottom: 3rem;
    margin-top: 0rem;
}
.lucky-activity-rules-p1{
    font-family: STYuanti-SC-Bold;
    font-size: 14px;
    color: #9C2B21;
    margin-top: -18.5rem;
    margin-left: 2rem;

}
.lucky-activity-rules-p2{
    margin-left: 2rem;
    margin-top: 1.14rem;
    font-family: STYuanti-SC-Bold;
    font-size: 14px;
    color: #9C2B21;
}
/*转盘指针*/
.lucky-pointer{
    position: absolute;
    margin-top: 7.6rem;
    margin-left: 8.5rem;
    width: 1.5rem;
}

/*320px   iphone5  及一些安卓*/
@media (max-width: 320px) {
    .banner .turnplate canvas.item {
        margin-top: 100.5px;
    }

    .banner .turnplate img.pointer {
        width: 109px;
        height: 109px;
        margin: -220px auto;
    }

    .banner .turnplate {
        height: 458px;
    }
    /*转盘指针*/
    .lucky-pointer{
        margin-top: 6.6rem;
        margin-left: 7.2rem;
    }
    /*中奖记录*/
    .lucky-winning-record-date{
        margin-left: 135px;
    }
    /*活动规则*/
    .lucky-activity-rules-p1{
        margin-top: -16.5rem;
    }
    .lucky-activity-rules-p2{
        margin-top: 0.4rem;
    }

}
/*360px */
@media (min-width: 360px) {
    .banner .turnplate canvas.item {
        /*margin-top: 113.5px;*/
        margin-top: 112px;
        margin-left: -2px;
    }
    .banner .turnplate img.pointer {
        margin: -248px auto;
    }
    .banner .turnplate{
        height: 538px;
    }
    /*指针*/
    .lucky-pointer{
        margin-top: 7.2rem;
        margin-left: 8.2rem;
    }
    /*活动规则*/
    .lucky-activity-rules-p1{
        margin-top: -18rem;
    }
    .lucky-activity-rules-p2{
        margin-top: 0.8rem;
    }

}
/*375px */
@media (min-width: 375px) {
    .banner .turnplate canvas.item {
        margin-top: 116.5px;
        margin-left: -2px;
    }
    .banner .turnplate img.pointer {
        margin: -256px auto;
    }
    .lucky-activity-rules{
        margin-bottom: 5rem;
    }
    /*指针*/
    .lucky-pointer{
        margin-top: 7.8rem;
        margin-left: 8.7rem;
    }

}
/*412px Nexus 5X*/
@media (min-width: 412px) {
    .banner .turnplate {
        height: 590px;
    }
    .banner .turnplate canvas.item {
        margin-top: 128.2px;
        margin-left: -2px;
    }
    .banner .turnplate img.pointer {
        width: 133px;
        height: 133px;
        margin: -282px auto;
        left: 34%;
    }
    /*指针*/
    .lucky-pointer{
        margin-left: 8.9rem;
    }
    /*中奖纪录*/
    .lucky-winning-record-name{
        font-size: 16px;
    }
    .lucky-winning-record-date{
        font-size: 16px;
        margin-top: -24px;
        margin-left: 203px;
    }
    /*.lucky-winning-record{*/
        /*margin-bottom: -1px;*/
        /*margin-top: -0.9px;*/
    /*}*/
    /*活动规则*/
    .lucky-activity-rules{
        margin-top: 0rem;
    }
    .lucky-activity-rules-p1{
        font-size: 16px;
        margin-top: -18.5rem;
    }
    .lucky-activity-rules-p2{
        font-size: 16px;
        margin-top: 0.6rem;
    }

}
/*414px*/
@media (min-width: 414px) {
    .banner .turnplate {
        height: 594px;
    }
    .banner .turnplate canvas.item {
        /*margin-top: 131.5px;*/
        margin-top: 129.5px;
        margin-left: -2px;
    }
    .banner .turnplate img.pointer {
        width: 134px;
        height: 134px;
        margin: -283px auto;
        left: 34%;
    }
    /*指针图片*/
    .lucky-pointer{
        margin-top: 8rem;
        margin-left: 9rem;
    }
    /*中奖记录*/
    .lucky-winning-record-date{
        margin-left: 200px;
    }
    /*活动规则*/
    .lucky-activity-rules-p1{
        margin-top: -19rem;
        font-size: 16px;
    }
    .lucky-activity-rules-p2{
        font-size: 16px;
    }

}
/*768px  ipad*/
@media (min-width:768px){
    .banner .turnplate {
        height: 1102px;
    }
    .banner .turnplate canvas.item {
        margin-top: 239px;
        margin-left: -3px;
    }
    .banner .turnplate img.pointer {
        width: 248px;
        height: 248px;
        margin: -518.5px auto;
        left: 34.1%;
    }
    .aui-bar-nav{
        line-height: 3.25rem;
    }
    .aui-bar{
        min-height: 3.25rem;
    }
    .aui-bar-nav .aui-btn{
        height: 3.25rem;
    }
    .lucky-header-title{
        font-size: 40px;
    }
    /*指针*/
    .lucky-pointer{
        margin-top: 12.3rem;
        margin-left: 13.8rem;
        width: 2.2rem;
    }
    /*中奖记录*/
    .lucky-winning-record-name{
        font-size: 26px;
        margin-left: 41px;
        /*margin-top: -3rem;*/
    }
    .lucky-winning-record-date{
        margin-left: 417px;
        margin-top: -39px;
        font-size: 26px;
    }
    /*.lucky-winning-record{*/
        /*margin-top: -0.5px;*/
    /*}*/
    /*活动规则*/
    .lucky-activity-rules{
        margin-top: 1.5rem;
        margin-bottom: 7rem;
        margin-left: 5%;
        max-width: 90%;
    }
    .lucky-activity-rules-p1{
        margin-top: -28rem;
        font-size: 28px;
    }
    .lucky-activity-rules-p2{
        font-size: 28px;
        margin-top: 1rem;
    }



}
/*1024   ipad   pro*/
@media (min-width:1024px){
    .banner .turnplate {
        height: 1468px;
    }
    .banner .turnplate canvas.item {
        margin-top: 320.5px;
        margin-left: -5px;
    }
    .banner .turnplate img.pointer {
        width: 332px;
        height: 332px;
        margin: -691px auto;
        left: 33.9%;
    }
    /*指针*/
    .lucky-pointer{
        margin-top: 16.5rem;
        margin-left: 18.5rem;
        width: 2.5rem;
    }
    /*中奖记录*/
    .lucky-winning-record-name{
        font-size: 29px;
        margin-left: 68px;
        /*margin-top: -4rem;*/
    }
    .lucky-winning-record-date{
        margin-left: 593px;
        margin-top: -42px;
        font-size: 29px;
    }
    /*活动规则*/
    .lucky-activity-rules{
        margin-top: 0rem;
        margin-left: 3%;
        margin-bottom: 10rem;
    }
    .lucky-activity-rules-p1{
        margin-top: -37rem;
        font-size: 32px;
        margin-left: 4rem;
    }
    .lucky-activity-rules-p2{
        font-size: 32px;
        margin-left: 4rem;
        margin-top: 2rem;
    }



}



































