.style-font-bold{
    font-weight: bold;
}
.style-float-left{
    float:left;
}
.style-float-right{
    float:right;
}
.style-margin-center{
    margin:0 auto;
}
.style-back-icon img{
    width:1.4rem;
    height:1.26rem;
}
.style-content-image{
    width:100%;
    margin-bottom: 1rem;
}
.style-content-image img{
    width:100%;
}
.style-frame{
    display: block;;
    padding:0.43rem 2.5rem;
    border: 2px solid #E4E4E5;
    border-radius: 4px;
    font-family: PingFangSC-Semibold;
    text-align: center;
    font-size: 20px;
    color: #E31C17;
    letter-spacing: 1.11px;
    margin-bottom: 1.29rem;
}
.aui-tips .aui-col-xs-2 img{
    width:3.43rem;
}
.style-text-14{
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-left: 0.57rem;
}
.style-text-12{
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-left: 0.57rem;
}
.style-text-open img{
    margin:0.28rem 0;
}

.aui-bar-nav{
    background-color: #CC0000;
    background-image: url("../image/title.png");
    background-size:100%;
    height:2.5rem;
    font-family: PingFangSC-Semibold;
    font-size: 22px;
    letter-spacing: 0.35px;
    line-height: 2.5rem;
    top: 0;
    color: #ffffff;
}
.aui-bar-nav .aui-title {
    display: inline;
    position: absolute;
    margin: 0;
    right: 0;
    left: 0;
}
.aui-content-padded{
    margin:0.79rem 1.57rem;
}
.aui-btn-danger{
    background: #E31C17;
    font-family: PingFangSC-Semibold;
    font-size: 18px;
    letter-spacing: 0;
}
.aui-tips{
    padding: 0.43rem 0.43rem 0.8rem 0.43rem;
    width: auto;
    z-index: 99;
    line-height: 1.21rem;
    height:2.5rem;
    position: relative;
    background-color: rgba(0,0,0,.6);
    color: #ffffff;
    display:block;
    position: fixed;
    bottom:0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    right:0;
    left:0;
}

button, .aui-btn{
    border:0;
}
footer{
    width:100%;
}

.style-anchor-header-list{
    background: #fff;
    padding-bottom: 0.5rem;
}
.style-anchor-header{
    position:relative;
}
.style-anchor-photo img{
    width:4rem;
    height:4rem;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.20), inset 0 0 6px 0 rgba(0,0,0,0.30);
    border-radius: 100%;
    position:absolute;
    top:4.5rem;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.style-acnchor-nickname{
    font-family: PingFangSC-Semibold;
    color: #000000;
    letter-spacing: 0.65px;
    /*line-height: 1.5rem;*/
    margin-top: 2rem;
    font-weight: bold;
}
.style-anchor-introduction{
    font-family: PingFangSC-Regular;
    color: #767676;
    letter-spacing: 0.07rem;
    line-height: 1.3rem;
    position: relative;
    margin: 0.5rem 1.25rem;
}
.aui-ellipsis-3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.style-anchor-footer{
    font-family: PingFangSC-Regular;
    color: #E31C17;
    letter-spacing: 1px;
    text-align: right;
    display: block;
    min-height: 0;
    margin: -2.2rem 0.8rem 0 0;
}
.aui-tab-item.aui-active{
    font-family: PingFangSC-Semibold;
    color: #E31C17;
    letter-spacing: 1px;
    border-bottom: 2px solid #E31C17;
    font-weight: bold;
}
.aui-tab-item{
    font-family: PingFangSC-Semibold;
    color: #999999;
    letter-spacing: 1px;
    width:29%;
    margin-left: 16%;
    font-weight: bold;
}
.aui-tab{
    border-bottom: 1px solid #EBEBEB;
    margin:0 0.56rem;
}
.style-lists{
    background: #fff;
}
.style-special-list{
    height:5.63rem;
    margin: 0.4rem 0.56rem;
    background-image: url('../image/special_background.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.style-special-list .style-special-list-cover{
    position:relative;
    width:5.63rem;
    height:5.63rem;
    float: left;
}
.style-special-list .style-special-list-cover img{
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.20), inset 0 0 6px 0 rgba(0,0,0,0.30);
    border-radius: 6px;
    display: inline;
    width:70%;
    height:70%;
    margin:12%;
}
.style-special-list .style-special-list-cover span{
    background: rgba(0,0,0,0.60);
    width:2.07rem;
    height:1rem;
    text-align: center;
    border-radius: 5px 0 15px 0;
    font-family: PingFangSC-Semibold;
    color: #FFFFFF;
    letter-spacing: 0.04rem;
    line-height: 1rem;
    position:absolute;
    top:14%;
    left:14%;
}
.style-special-list .style-special-list-content{
    width: 10.05rem;
    margin: 0.6rem 0.56rem 1rem 0;
    float: right;
}
.style-special-list-content-title{
    font-family: PingFangSC-Semibold;
    color: #000000;
    letter-spacing: 0.5px;
    font-weight: bold;
}
.style-special-list-content-introduction{
    font-family: PingFangSC-Regular;
    color: #767676;
    letter-spacing: 0;
    line-height:1.9rem;
}
.style-special-list-content-play{
    font-family: PingFangSC-Regular;
    color: #767676;
    letter-spacing: 0;
    /*line-height: 1.4rem;*/
    line-height:1.21rem;
}
.style-special-list-content-play img{
    width:0.6rem;
    display: inline;
    margin-right: 4px;
}


.style-program-list{
    height:5.63rem;
    margin: 0.4rem 0.56rem;
    background-image: url('../image/special_background.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.style-program-list .style-program-list-cover{
    position:relative;
    width:5.63rem;
    height:5.63rem;
    float: left;
}
.style-program-list-cover img{
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.20), inset 0 0 6px 0 rgba(0,0,0,0.30);
    border-radius: 100%;
    display: inline;
    width:70%;
    height:70%;
    margin:12%;
}
.style-program-list-cover-play img{
    width:2rem;
    height:2rem;
    border:0;
    border-radius: 100%;
    position:absolute;
    top:-1%;
    bottom:0;
    left:-1%;
    right:0;
    margin:auto;
}
.style-program-list .style-program-list-content{
    width: 9.2rem;
    margin: 0.8rem 1.56rem 1rem 0;
    float: right;
}
.style-program-list-content-title{
    font-family: PingFangSC-Semibold;
    color: #000000;
    letter-spacing: 0.5px;
    font-weight: bold;
}
.style-program-list-content-title .aui-text-right{
    font-family: PingFangSC-Regular;
    /*color: #767676;*/
    color:#B6B6B6;
    letter-spacing: 0;
}
.style-program-list-content-play{
    margin-top: 1.6rem;
    font-family: PingFangSC-Regular;
    color: #767676;
    letter-spacing: 0;
    /*line-height: 1.4rem;*/
    line-height:1.21rem;
}
.style-program-list-content-play img{
    width:0.6rem;
    display: inline;
    margin-right:4px;
    margin-bottom: -0.06rem;
}
.style-program-list-content-play span{
    margin-right: 1.3rem;
}

.style-anchor-special-detail-cover .style-anchor-special-detail-cover-img{
    width:5.5rem;
    height:5.5rem;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.20), inset 0 0 6px 0 rgba(0,0,0,0.30);
    border-radius: 6px;
    position:absolute;
    top:3.5rem;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.style-anchor-special-detail-cover-count{
    background: rgba(0,0,0,0.60);
    width:2.07rem;
    height:1rem;
    text-align: center;
    border-radius: 5px 0 15px 0;
    font-family: PingFangSC-Semibold;
    color: #FFFFFF;
    letter-spacing: 0.04rem;
    line-height: 1rem;
    position:absolute;
    top:-0.98rem;
    bottom:0;
    left:-3.4rem;
    right:0;
    margin:auto;
}
.style-anchor-special-detail-cover-play{
    background: rgba(0,0,0,0.60);
    width:3.07rem;
    height:1rem;
    text-align: center;
    border-radius: 0 15px 0 5px;
    font-family: PingFangSC-Semibold;
    color: #FFFFFF;
    letter-spacing: 0.04rem;
    line-height: 1rem;
    position:absolute;
    top:8rem;
    bottom:0;
    left:-2.4rem;
    right:0;
    margin:auto;
}
.style-anchor-special-detail-cover-play img{
    border:0;
    border-radius: 0;
    box-shadow:none;
    width:0.6rem;
    height:0.6rem;
    display: inline;
}
.style-program{
    margin-top: -0.5rem;
    padding-bottom: 0.5rem;
}
.style-special-header-photo{
    font-family: PingFangSC-Regular;
    color: #000000;
    letter-spacing: 0;
    height: 1.5rem;
    line-height: 1.5rem;
    vertical-align: middle;
}
.style-special-header-photo img{
    vertical-align: middle;
    display: inline;
    width:1.3rem;
    height:1.3rem;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.20), inset 0 0 6px 0 rgba(0,0,0,0.30);
    border-radius: 100%;
}
.style-special-header-photo p{
    color:#000000;
}
.style-special-header-photo span{
    display:inline-block;
    vertical-align:middle;
}
.style-special-header-class{
    font-family: PingFangSC-Regular;
    color: #000000;
    letter-spacing: 0;
    height: 1.5rem;
    line-height: 1.5rem;
}
.style-special-header-class p{
    color:#000000;
}
.style-special-header-class img{
    vertical-align: middle;
    display: inline;
    width:0.79rem;
    height:0.86rem;
}
.style-special-header-class span{
    display:inline-block;
    vertical-align:middle;
}
.style-program-more{
    border-top: 1px solid #EBEBEB;
    font-family: PingFangSC-Semibold;
    color: #000000;
    letter-spacing: 0.04rem;
    line-height: 2rem;
    margin:0 0.8rem;
}
.aui-card-list-header .style-replace{
    font-family: PingFangSC-Semibold;
    color: #767676;
    letter-spacing: 0.07rem;
}
.style-replace img{
    width:0.6rem;
    display: inline;
}

.style-replace-special-margin{
    margin: 0 0.56rem;
    padding-top:0.2rem;
    padding-left:0.2rem;
    padding-right:0.2rem;
}
.style-replace-special-list .style-special-list-cover{
    position:relative;
    width:5.63rem;
    height:5.63rem;
    /*float: left;*/
}
.style-replace-special-list .style-special-list-cover .style-special-list-cover-image{
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.20), inset 0 0 6px 0 rgba(0,0,0,0.30);
    border-radius: 6px;
    display: inline;
    width:90%;
    height:90%;
}
/*.style-replace-special-list .style-special-list-cover span{*/
    /*background: rgba(0,0,0,0.60);*/
    /*width:2.07rem;*/
    /*height:1rem;*/
    /*text-align: center;*/
    /*border-radius: 5px 0 15px 0;*/
    /*font-family: PingFangSC-Semibold;*/
    /*color: #FFFFFF;*/
    /*letter-spacing: 0.04rem;*/
    /*line-height: 1rem;*/
    /*position:absolute;*/
    /*top:14%;*/
    /*left:14%;*/
/*}*/
.style-replace-special-list .style-replace-special-list-text-left span{
    background: rgba(0,0,0,0.60);
    width:3rem;
    height:1rem;
    text-align: center;
    border-radius: 5px 0 15px 0;
    font-family: PingFangSC-Semibold;
    color: #FFFFFF;
    letter-spacing: 0.04rem;
    line-height: 1rem;
    position:absolute;
    top:2%;
    left:2%;
}
.style-replace-special-list .style-replace-special-list-text-center span{
    background: rgba(0,0,0,0.60);
    width:3rem;
    height:1rem;
    text-align: center;
    border-radius: 5px 0 15px 0;
    font-family: PingFangSC-Semibold;
    color: #FFFFFF;
    letter-spacing: 0.04rem;
    line-height: 1rem;
    position:absolute;
    top:2%;
    left:5%;
}
.style-replace-special-list .style-replace-special-list-text-right span{
    background: rgba(0,0,0,0.60);
    width:3rem;
    height:1rem;
    text-align: center;
    border-radius: 5px 0 15px 0;
    font-family: PingFangSC-Semibold;
    color: #FFFFFF;
    letter-spacing: 0.04rem;
    line-height: 1rem;
    position:absolute;
    top:2%;
    left:8%;
}
.style-replace-special-list p{
    width:90%;
    margin:-0.5rem auto;
    font-family: PingFangSC-Semibold;
    color: #000000;
    letter-spacing: 0;
    text-align: left;
}
.style-replace-special-list .style-special-list-cover .style-special-list-cover-play-image{
    border:0;
    border-radius: 0;
    box-shadow:none;
    width:0.6rem;
    height:0.6rem;
    display: inline;
}
.style-special-detail-seat{
    height:3.5rem;
}
.footer-text-margin-l-5{
    margin-left: 0.75rem !important;
}
@media (max-width:320px){
    .aui-tips {
        padding: 0.43rem;
    }
    .style-special-list{
        height:4.93rem;
        margin: 1rem 0.56rem;
    }
    .style-special-list .style-special-list-cover{
        width:4.93rem;
        height:4.93rem;
    }
    .style-special-list .style-special-list-content{
        width: 8.63rem;
        margin: 0.6rem 0.86rem 1rem 0;
    }

    .style-special-list-content-introduction{
        line-height: 1.5rem;
    }
    .style-special-list-content-play{
        line-height: 1rem;
    }

    .style-program-list{
        height:4.93rem;
        margin: 1rem 0.56rem;
    }
    .style-program-list .style-program-list-cover{
        width:4.93rem;
        height:4.93rem;
    }
    .style-program-list-cover-play img{
        top:1.18rem;
        bottom:1.18rem;
        left:1.18rem;
        right:1.18rem;
    }
    .style-program-list .style-program-list-content{
        width: 8.63rem;
        margin: 0.6rem 0.86rem 1rem 0;
    }
    .style-program-list-content-play{
        margin-top: 1.3rem;
    }
    .style-replace-special-list .style-special-list-cover .style-special-list-cover-image{
        display: block;
        width:80%;
        height:80%;
    }
    .style-replace-special-list p{
        margin-top:-1rem;
    }
    .style-replace-special-list .style-replace-special-list-text-center span{
        left:2%;
    }
    .style-replace-special-list .style-replace-special-list-text-right span{
        left:2%;
    }
    .style-replace-special-list .style-replace-special-list-text-left-adjust span{
        top:1%;
    }
    .style-replace-special-list .style-replace-special-list-text-center-adjust span{
        top:1%;
    }
    .style-replace-special-list .style-replace-special-list-text-right-adjust span{
        top:1%;
    }
    .style-replace-special-list-text-right{
        text-align: left !important;
    }
    .style-replace-special-list-float-right{
        float:left;
    }
    .style-replace-special-list-text-center{
        text:left;
    }
    .style-replace-special-list-margin-center{
        float:left;
    }
    .style-anchor-footer{
        margin:-2.2rem 0.4rem 0 0;
    }
    .style-special-detail-seat{
        height:2.7rem;
    }
    .footer-text-margin-l-5{
        margin-left: 0.25rem !important;
    }
}
@media (min-width:375px){
    .style-special-list .style-special-list-cover img{
        margin: 14%;
    }
    .style-special-list .style-special-list-cover span{
        top: 16%;
        left: 16%;
    }
    .style-special-list .style-special-list-content{
        width:10rem;
        margin: 0.8rem 1.2rem 1rem 0;
    }
    .style-program-list .style-program-list-content {
        width: 10rem;
        margin: 0.8rem 1.2rem 1rem 0;
    }
    .aui-tips{
        height:2.7rem;
    }
    .style-replace-special-list .style-replace-special-list-text-left-adjust span{
        top:2.2%;
    }
    .style-replace-special-list .style-replace-special-list-text-center-adjust span{
        top:2.2%;
    }
    .style-replace-special-list .style-replace-special-list-text-right-adjust span{
        top:2.2%;
    }
    .style-special-detail-seat{
        height:3.2rem;
    }
}
@media (min-width:412px){
    .style-special-list{
        height:5.93rem;
        margin: 0.4rem 0.56rem;
    }
    .style-special-list-content-introduction{
        line-height: 2rem;
    }
    .style-program-list-content-play{
        margin-top: 1.9rem;
    }
    .style-special-list .style-special-list-cover{
        width:5.93rem;
        height:5.93rem;
    }
    .style-special-list .style-special-list-content{
        width:10.2rem;
        margin: 0.8rem 1.5rem 1rem 0;
    }
    .style-program-list .style-program-list-content{
        width:10.2rem;
        margin: 0.8rem 1.5rem 1rem 0;
    }
    .style-special-list .style-special-list-cover img{
        margin: 14%;
    }
    .style-special-list .style-special-list-cover span{
        top:15%;
        left:15.8%;
    }
    .style-program-list{
        height:5.93rem;
        margin: 0.4rem 0.56rem;
    }
    .style-program-list .style-program-list-cover{
        width:5.93rem;
        height:5.93rem;
    }
    .style-anchor-special-detail-cover-play img{
        border:0;
        border-radius: 0;
        box-shadow:none;
        width:0.6rem;
        height:0.6rem;
        display: inline;
    }
    .style-replace-special-list .style-special-list-cover .style-special-list-cover-image{
        width:100%;
        height:100%;
    }
    .style-replace-special-list .style-replace-special-list-text-center span{
        left:2%;
    }
    .style-replace-special-list .style-replace-special-list-text-right span{
        left:2%;
    }
    .style-replace-special-list .style-replace-special-list-text-left-adjust span{
        top:2.2%;
    }
    .style-replace-special-list .style-replace-special-list-text-center-adjust span{
        top:2.2%;
    }
    .style-replace-special-list .style-replace-special-list-text-right-adjust span{
        top:2.2%;
    }
    .style-replace-special-list p{
        margin-top:0.1rem;
    }
    .aui-tips{
        height:2.8rem;
    }
    .style-special-detail-seat{
        height:3.5rem;
    }
    .footer-text-margin-l-5{
        margin-left: 1rem !important;
    }
}
@media (min-width:768px){
    .style-anchor-photo img{
        width:5rem;
        height:5rem;
        top:7.5rem;
    }
    .style-special-list{
        height:9.75rem;
        margin: 1rem 0.56rem;
    }
    .style-special-list .style-special-list-cover{
        width:9.63rem;
        height:9.63rem;
    }
    .style-special-list .style-special-list-content{
        width:16.2rem;
        margin: 1.2rem 2rem 1.5rem 0;
    }
    .style-special-list-content-introduction{
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal !important;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 1.2rem;
        margin-bottom: 1rem;
    }
    .style-special-list .style-special-list-cover img{
        margin: 13%;
    }
    .style-special-list .style-special-list-cover span{
        top:14%;
        left:14%;
    }
    .style-program-list{
        height:9.75rem;
        margin: 1rem 0.56rem;
    }
    .style-program-list .style-program-list-cover{
        width:9.63rem;
        height:9.63rem;
    }
    .style-program-list-cover-play img {
        width: 30%;
        height: 30%;
        top:-7px;
        bottom:0;
        left:-7px;
        right:0;
    }
    .style-program-list .style-program-list-content{
        width:16.2rem;
        margin: 1.5rem 2rem 1.5rem 0;
    }
    .style-program-list-content-play{
        margin-top: 4rem;
    }
    .style-anchor-special-detail-cover .style-anchor-special-detail-cover-img{
        width:6rem;
        height:6rem;
        top:6.5rem;
    }

    .style-anchor-special-detail-cover-count{
        top:1.52rem;
        left:-3.85rem;
    }
    .style-anchor-special-detail-cover-play{
        top:11.5rem;
        left:-2.85rem;
    }
    .style-anchor-special-detail-cover-play img{
        border:0;
        border-radius: 0;
        box-shadow:none;
        width:0.6rem;
        height:0.6rem;
        display: inline;
    }
    .style-replace-special-list .style-special-list-cover{
        width: 9.63rem;
        height: 9.63rem;
    }
    /*.style-replace-special-list .style-special-list-cover span{*/
        /*top: 13%;*/
        /*left: 13%;*/
    /*}*/
    .style-replace-special-list .style-replace-special-list-text-left span{
        top:1%;
        left:1%;
        width: 4rem;
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .style-replace-special-list .style-replace-special-list-text-center span{
        top:1%;
        left:5.5%;
        width: 4rem;
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .style-replace-special-list .style-replace-special-list-text-right span{
        top:1%;
        left:9.5%;
        width: 4rem;
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .style-replace-special-list .style-special-list-cover .style-special-list-cover-image{
        width:90%;
        height:90%;
    }
    .style-replace-special-list p{
        margin-top:-0.7rem;
    }
    .aui-tips{
        height:3.5rem;
    }
    .aui-font-size-14{
        font-size: 1rem !important;
    }
    .aui-font-size-12{
        font-size: 0.8rem !important;
    }
    .style-text-open img{
        float:right;
    }
    .style-special-detail-seat{
        height:4rem;
    }
    .footer-text-margin-l-5{
        margin-left: 2rem !important;
        line-height: 1.5rem;
    }
    .style-program-list-content-play img{
        margin-bottom:0rem;
    }
}
@media (min-width:1024px){
    .style-anchor-photo img{
        width:6rem;
        height:6rem;
        top:9.5rem;
    }
    .style-special-list{
        height:13.75rem;
        margin: 1rem 0.56rem;
    }
    .style-special-list-content-play{
        line-height: 0.21rem;
    }
    .style-special-list .style-special-list-cover{
        width:13.63rem;
        height:13.63rem;
    }
    .style-special-list .style-special-list-content{
        width: 21.2rem;
        margin: 1.6rem 3.6rem 1.6rem 0;
    }
    .style-special-list-content-introduction{
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal !important;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        margin-top: 1rem;
    }
    .style-special-list .style-special-list-cover img{
        margin: 11%;
    }
    .style-special-list .style-special-list-cover span{
        top:12%;
        left:12%;
    }
    .style-program-list{
        height:13.75rem;
        margin: 1rem 0.56rem;
    }
    .style-program-list .style-program-list-cover{
        width:13.63rem;
        height:13.63rem;
    }
    .style-program-list-cover-play img {
        width: 30%;
        height: 30%;
        top:-14px;
        bottom:0;
        left:-14px;
        right:0;
    }
    .style-program-list .style-program-list-content{
        width: 21.2rem;
        margin: 2rem 3.6rem 1.6rem 0;
    }
    .style-program-list-content-play{
        margin-top: 7rem;
    }
    .style-anchor-special-detail-cover .style-anchor-special-detail-cover-img{
        width:8rem;
        height:8rem;
        top:8.5rem;
    }

    .style-anchor-special-detail-cover-count{
        top:1.52rem;
        left:-5.85rem;
    }
    .style-anchor-special-detail-cover-play{
        top:15.5rem;
        left:-4.85rem;
    }
    .style-anchor-special-detail-cover-play img{
        border:0;
        border-radius: 0;
        box-shadow:none;
        width:0.6rem;
        height:0.6rem;
        display: inline;
    }
    .style-replace-special-list .style-special-list-cover{
        width: 12.63rem;
        height: 12.63rem;
    }
    /*.style-replace-special-list .style-special-list-cover span{*/
        /*top: 13%;*/
        /*left: 13%;*/
    /*}*/
    .style-replace-special-list .style-replace-special-list-text-left span{
        top:0.7%;
        left:0.7%;
    }
    .style-replace-special-list .style-replace-special-list-text-center span{
        top:1%;
        left:2.5%;
    }
    .style-replace-special-list .style-replace-special-list-text-right span{
        top:1%;
        left:4.5%;
    }
    .style-replace-special-list .style-special-list-cover .style-special-list-cover-image{
        width:95%;
        height:95%;
    }
    .style-replace-special-list p{
        margin-top: -0.5rem;
    }
    .style-text-open img{
        float:right;
    }
}
.aui-grid [class*=aui-col-]{
    padding:0.5rem 0;
}